In [1]:
import numpy as np
import pandas as pd

### PROBLEM 1

In [2]:
s= 0
for n in range(1, 10):
    if n % 3 == 0 or n % 5 == 0:
        s += n
print(s)

23

In [3]:
s=[]
for n in range(1,10):
    if n%3==0 or n%5==0:
        s.append(n)
print(sum(s))

23

In [4]:
class summablelist(list):
    def sum(self):
        s=0
        for v in self.__iter__():
            s=s+v
        return s

In [69]:
def until(n, filter_func, v):
           if v == n: 
            return []
           if filter_func(v):
                return [v] + until( n, filter_func, v+1 )
           else: 
            return until(n, filter_func, v+1)

In [71]:
 until(100, lambda x: x%3==0 or x%5==0, 5)

[5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

In [44]:
sum(until(10, lambda x: x%3==0 or x%5==0,0))

23

# problem 2

In [54]:
def numbers():
    for i in range(1024):
        print( "=", i )
        yield i

In [55]:
def sum_to(n):
    sum=0
    for i in numbers():
        if i==n:
            break
        sum=sum+i
    return sum

In [58]:
sum_to(6)

= 0
= 1
= 2
= 3
= 4
= 5
= 6

15

The sum_to() function will not evaluate the entire result of the numbers() function. It will break after only consuming a few values from the numbers() function. We can see this consumption of values in the following log:

# problem 3

In [68]:
import math 
def isprime(p):
    if p < 2: 
        return False
    if p == 2: 
        return True
    if p % 2 == 0: 
        return False
    return not any(p==0 for p in range(3,int(math.sqrt(n))+1,2))

In [67]:
isprime(9)

True

In [72]:
# problem 4

In [75]:
from decimal import *
def clean_decimal(text):
    if text is None:
        return text
    try:
        return Decimal(text.replace("$","").replace(",", ""))
    except InvalidOperation:
        return text

In [76]:
# more efficient
def replace(data, a, b):
    return data.replace(a,b)

In [78]:
Decimal(replace(replace(text, "$", ""), ",", ""))
replace=str.replace
replace("$12.45","$","")

NameError: name 'text' is not defined

In [79]:
def remove( str, chars ):
    if chars: 
        return remove( str.replace(chars[0],""), chars[1:])
    return str